*{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
}

.body, html {
  background-image: url('./bgimage.png');
}

p {
  line-height: 1.5;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

.small {
  line-height: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ff6347;
  padding: 5px 5%;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
}

nav ul {
  text-align: right;
  text-decoration: none;
}

nav li {
  display: inline;
  padding: 10px;
}

.logo {
  width: 300px;
  margin-left: 45px;
}

.container{
  display: flex;
  justify-content: space-between;
  padding: 13px 5%;
}

.left-bar{
  position: fixed;
  height: 200px;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-left: -30px;
}

.left-bar li {
  line-height: 3;
}

.left-sidebar{
  background: #cbdffa;
  flex-basis: 20%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
}

.right-sidebar{
  background: #cbdffa;
  flex-basis: 20%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
}

.main-content{
  flex-basis: 50%;
}

.heading {
  color: #ff6347;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #ff6347;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 50%;
  padding: 10px;
  border: 1px solid #ff6347;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #ff6347;
  border-radius: 5px;
  background: #ff6347;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  transform: scale(0.98);
}

.post-container {
  flex-basis: 60%;
  background: #fff;
  border-radius: 6px;
  padding: 40px;
  color: #626262;
  margin: 20px 0;
  }

.post-input-container {
  padding: 40px;
  background: #fff;
  border-radius: 6px;
  color: #626262;
}

.post-input-container textarea{
  width: 95%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ccc;
  background: transparent;
  resize: none;
}

.post-input-container input[type='file']{
 cursor: pointer;
 position: absolute;
 left: 0%;
 top: 0%;
 opacity: 0;
}

.post-input-container input[type='submit']{
  color: #fff;
  background-color: #ff6347;
  padding: 8px 12px;
  border: 0;
  border-radius: 3px;
  margin-left: 490px;
 }

 .post-input-container input[type='submit']:hover{
  transform: scale(0.95);
  cursor: pointer;
 }

.post-input-container button{
  padding: 0px;
  position: relative;
  font-size: 25px;
  line-height: 1.5;
  border-radius: 3px;
  color: #626262;
  background-color: #fff;
  border: transparent;
  overflow: hidden;
}

.post-input-container button:hover{
  transform: scale(0.95);
}

.post-input-profile {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.post-input-profile img{
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
  width: 45px;
  height: 45px;
}

.post-input-profile p{
  margin-bottom: -5px;
  font-weight: 500;
  color: #626262;
}

.post-profile{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.post-profile img{
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
  width: 45px;
  height: 45px;
}

.post-profile p{
  margin-bottom: -10px;
  font-weight: 500;
  color: #626262;
}

.delete-post {
  color: #000;
  background-color: transparent;
  font-size: 20px;
  border: 0;
  border-radius: 3px;
  margin-left: 250px;
}

.delete-post:hover{
  transform: scale(0.95);
  cursor: pointer;
}


.post-profile small{
  font-size: 10px;
}

.post-text {
  color: #9a9a9a;
  margin: 5px 0;
  font-size: 15px;
  margin-bottom: 0px;
}

.post-image {
  object-fit: cover;
  width: 500px;
  height: 500px;
}

.likebtn {
  padding: 3px 6px;
  border: 1px solid #ff6347;
  border-radius: 5px;
  background: #efefef;
  color: #ff6347;
  font-size: 12.5px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.likebtn:hover {
  transform: scale(0.95);
}

.user-profile span {
  font-size: 10px;
  color: #9a9a9a;
}

.comments {
  font-size: 13px;
  line-height: 150%;
}

.comments label {
  font-weight: bold;
  font-size: 13px;
}

.profile-container {
  display: flex;
  justify-content: space-between;
  padding: 13px 5%;
}

.your-profile{
  flex-basis: 60%;
  background-color: #fff;
  padding: 50px;
  border-radius: 5px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  line-height: 2;
}

.your-profile img{
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.left-sidebar ul li{
  line-height: 3;
}

.options-button {
  width: 300px;
  color: #fff;
  background-color: #ff6347;
  border: none;
  padding: 8px 12px;
  border-radius: 3px;
 }

 .options-button:hover{
  transform: scale(0.98);
 }

 .nav-button {
  font-size: 17px;
  font-weight: bold;
  width: 150px;
  color: #fff;
  background-color: #ff6347;
  border: none;
  padding: 8px 12px;
  border-radius: 3px;
 }

 .nav-button:hover{
  cursor: pointer;
  transform: scale(0.95);
 }

 .comment-input{
  width: 60%;
  padding: 8px;
  border: 1px solid #626262;
  border-radius: 17px;
  font-family: inherit;
  margin-top: 10px;
 }

 .start-left {
  float: left;
  width: 35%;
  height: 300px;
  background: #fff;
  border-radius: 5px;
  margin-left: 130px;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 25px;
  line-height: 3;
 }

 .start-left p{
  font-size: large;
  line-height: 2;
 }

 .start-right {
  float: right;
  width: 35%;
  height: 300px;
  background: #fff;
  border-radius: 5px;
  margin-right: 130px;
  margin-top: 50px;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 25px;
 }

 .start-right p{
  margin-top: 90px;
  line-height: 2;
 }

 .vl {
    width: 1px;
    height: 500px;
    background-color: #4444;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
 }

 .logo {
  height: 80px;
  width: 80px;
  margin-top: 2px;
  margin-bottom: -15px;
 }